@import "../components/variables";

$size: 40px;

.special {
  text-align: center;
  text-transform: capitalize;
  color: $primary-color;
  font-size: 24px;
  width: 300px;
  margin: 0 auto;
  padding: 10px 0px;
  border-radius: 10px;
}

body {
  scrollbar-width: none;
}

// start about_section
.about_section {
  padding: 70px 0 0;
  overflow: hidden;

  .line {
    display: flex;
    gap: 40px;

    @media (max-width: 768px) {
      flex-direction: column;
    }

    > div {
      width: 50%;

      @media (max-width: 768px) {
        width: 100%;
      }
    }

    .text {
      padding-bottom: 30px;
      @media (max-width: 768px) {
        text-align: center;
      }
      .subtitle {
        display: block;
        color: $primary-color;
        font-size: 24px;
        @media (max-width: 768px) {
          font-size: 18;
        }
      }

      .title {
        font-size: 50px;
        font-weight: 700;
        text-align: start;
        @media (max-width: 768px) {
          font-size: 30px;
          text-align: center;
        }
      }

      .desc {
        color: gray;
        font-size: 18px;

        @media (max-width: 768px) {
          font-size: 15px;
        }
      }

      .smart_system {
        display: flex;
        align-items: center;
        gap: 12px;
        margin-bottom: 20px;

        @media (max-width: 768px) {
          flex-direction: column;
          justify-content: center;
        }

        .image {
          width: 100px;
          height: 100px;
          border-radius: 8px;
          background-color: #e6eaf2;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            width: 40px;
          }
        }
      }

      .items {
        margin-bottom: 20px;
        .item {
          display: flex;
          align-items: center;
          gap: 12px;

          @media (max-width: 768px) {
            justify-content: center;
          }

          &:not(:last-child) {
            margin-bottom: 12px;
          }

          i {
            color: $primary-color;
          }

          span {
            font-weight: 600;
          }
        }
      }

      .btn_contact {
        @media (max-width: 768px) {
          margin: auto;
        }
      }
    }

    .images {
      position: relative;
      img {
        width: 100%;
      }

      .shap_image {
        position: absolute;
        z-index: -1;
        top: -10px;
        animation-name: rotateme;
        -webkit-animation-duration: 20s;
        animation-duration: 20s;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;

        @keyframes rotateme {
          0% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(360deg);
          }
        }

        img {
          width: 100%;
        }
      }
    }
  }
}
// end about_section

// start services_section
.services_section {
  padding: 70px 0;
  background-image: url(../images/service-bg.jpg);
  background-size: cover;
  background-position: center;

  .head {
    text-align: center;
    color: white;

    .subtitle {
      display: block;
      @media (max-width: 768px) {
        font-size: 18px;
      }
    }

    .title {
      font-size: 50px;
      font-weight: 700;

      @media (max-width: 768px) {
        font-size: 30px;
      }
    }
  }

  .boxs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 30px;
    margin-top: 50px;

    .box {
      background-color: white;
      padding: 20px;
      border-radius: 10px;
      cursor: pointer;

      &:hover {
        .image {
          .icon {
            background-color: #d8252b;
            border-top-right-radius: 50%;
            border-top-left-radius: 10px;
          }
        }
      }

      .image {
        position: relative;
        margin-bottom: 15px;
        > img {
          width: 100%;
          height: 200px;
          border-radius: 10px;
          object-fit: cover;
        }

        .icon {
          position: absolute;
          bottom: -20px;
          right: 20px;
          width: 60px;
          height: 60px;
          border-radius: 50%;
          border-top-right-radius: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #052361;
          transition: 0.3s ease;

          img {
            width: 30px;
          }
        }
      }

      .text {
        .title {
          font-size: 26px;
          font-weight: 600;
          margin-bottom: 0;
        }

        .desc {
          color: gray;
          font-size: 17px;
        }
      }
    }
  }
}
// end services_section

// start having_problem_section
.having_problem_section {
  background-color: #02112d;
  padding: 50px 0;
  .line {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 40px;
    background-color: white;
    position: relative;
    z-index: 10;
    overflow: hidden;

    @media (max-width: 900px) {
      flex-direction: column;
    }

    .text {
      position: relative;
      z-index: 10;
      color: white;
      .title {
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 20px;

        @media (max-width: 900px) {
          font-size: 25px;
          margin-bottom: 10px;
        }
      }

      .contact {
        display: flex;
        align-items: center;
        gap: 10px;

        .icon {
          i {
            font-size: 40px;
          }
        }

        h3 {
          font-weight: 700;
        }
      }
    }

    .form {
      position: relative;
      z-index: 10;
      flex: 1;
      form {
        display: flex;
        align-items: center;
        gap: 5px;
        flex-wrap: wrap;
        max-width: 400px;

        input {
          flex: 1;
          border: 1px solid rgb(213, 213, 213);
          border-radius: 20px;
          padding: 10px 15px;

          &:nth-child(1) {
            border-bottom-right-radius: 0;
          }
          &:nth-child(2) {
            border-bottom-left-radius: 0;
          }
          &:nth-child(3) {
            border-top-right-radius: 0;
          }

          @media (max-width: 768px) {
            width: 100%;
            flex: none;
            border-radius: 20px !important;
          }
        }

        button {
          flex: 1;
          border: 0;
          background-color: $primary-color;
          color: white;
          border-radius: 20px;
          border-top-left-radius: 0;
          padding: 10px 15px;

          @media (max-width: 768px) {
            width: 100%;
            flex: none;
            border-radius: 20px !important;
          }
        }
      }
    }

    .urgent_contact__inner__bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 42.8%;
      height: 100%;
      background-color: $primary-color;
      clip-path: polygon(0 0, 100% 0%, 80% 100%, 0% 100%);

      @media (max-width: 900px) {
        width: 100%;
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
      }

      .bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
        mix-blend-mode: multiply;
        opacity: 0.3;
        z-index: -5;
        background-image: url(../images/urgent-contact-call-bg-1-1.jpg);
      }
    }

    .urgent-contact-one__image {
      position: absolute;
      right: 25px;
      bottom: 15px;

      img {
        position: relative;
        z-index: 1;
        max-width: 100%;
        height: auto;
        animation: zumpBottom 2s linear infinite;
      }

      @keyframes zumpBottom {
        0% {
          -webkit-transform: translateZ(0);
          transform: translateZ(0);
        }

        50% {
          -webkit-transform: translate3d(0, 10px, 0);
          transform: translate3d(0, 10px, 0);
        }
        100% {
          -webkit-transform: translateZ(0);
          transform: translateZ(0);
        }
      }

      .urgent-contact-one__image__shape {
        position: absolute;
        right: -10px;
        bottom: -111px;
        width: 222px;
        height: 222px;
        border-radius: 50%;
        background-color: $primary-color;
      }
    }
  }
}
// end having_problem_section

// start devices_sections_sections
.devices_sections_section {
  padding: 70px 0;
  .head {
    text-align: center;

    .subtitle {
      display: block;
      @media (max-width: 768px) {
        font-size: 18px;
      }
    }

    .title {
      font-size: 50px;
      font-weight: 700;

      @media (max-width: 768px) {
        font-size: 30px;
      }
    }
  }

  .boxs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 50px;

    .box {
      background-color: rgb(246 246 246);
      border-radius: 12px;
      padding: 20px;
      position: relative;

      .num {
        position: absolute;
        top: 30px;
        right: 30px;
        font-size: 45px;
        font-weight: 700;
        color: $primary-color;
        opacity: 0.1;
      }

      .icon {
        width: 60px;
        height: 60px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $primary-color;
        transition: 0.3s ease;

        margin-bottom: 20px;

        img {
          width: 30px;
        }
      }

      .title {
        font-size: 28px;
        font-weight: 700;
      }

      .desc {
        color: gray;
      }
    }
  }
}
// end devices_sections_sections

//  start why choose us section
.why-choose-us {
  margin-bottom: 50px;
  .container {
    display: flex;
    gap: 20px;
    .half {
      flex-basis: 50%;
    }
    .half1 {
      background-image: url("../images/ai-generated-8650513_1920.jpg");
      background-position: top;
      background-size: cover;
      border-radius: 10px;
      position: relative;
      .customer {
        background-color: white;
        position: absolute;
        top: 20px;
        right: -70px;
        transform: rotate(-90deg);
        width: fit-content;
        z-index: 2000;
        padding: 3px 40px;
        color: $main-color;
        h1 {
          display: flex;
          align-items: center;
          gap: 5px;
          i {
            color: $Dark-blue;
            font-size: 20px;
          }
        }
        p {
          color: $dddColor;
        }
      }
    }
    .half2 {
      h3 {
        font-size: 20px;
        color: $primary-color;
        i {
          color: $Dark-blue;
          font-size: 20px;
        }
      }
      p {
        color: $dddColor;
      }
      .flex {
        display: flex;
        gap: 10px;
        align-items: center;
        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
        }
      }
    }
  }
}

@media (max-width: 769px) {
  .why-choose-us {
    .container {
      flex-direction: column;
      .half {
        flex-basis: 100%;
        min-height: 400px;
      }
    }
  }
}
//  end why choose us section

// custom cursor
.circle {
  position: fixed;
  height: $size;
  width: $size;
  box-shadow: 0px 0px 40px $primary-color;
  border-radius: 50%;
  top: $size / 2 * -1;
  left: $size / 2 * -1;
  pointer-events: none;
  z-index: 999999999999999999999;
}
// custom cursor

// start team

.team {
  margin-bottom: 50px;
  background-color: whitesmoke;
  padding: 50px 0px;
  .special {
    margin-bottom: 40px;
  }
  .container {
    display: flex;
    gap: 20px;
    .main {
      flex-basis: 50%;
      img {
        width: 100%;
        border-radius: 10px;
        height: 350px;
      }
    }
    .swiper {
      padding-top: 0 !important;
      flex-basis: 50%;
      padding-top: 50px;
      padding-bottom: 50px;
    }
    .swiper-slide {
      position: relative;
      background-position: center;
      background-size: cover;
      width: 300px;
      height: 300px;
      &.swiper-slide-active {
        animation: move 2s linear infinite;
        @keyframes move {
          50% {
            transform: translateY(20px);
          }
        }
        .con {
          transform: translateY(0%);
        }
      }

      .con {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 153, 255, 0.423);
        border-radius: 10px;
        color: whitesmoke;
        transform: translateY(-200%);
        transition: 0.5s;
        h5,
        p {
          position: absolute;
          text-transform: capitalize;
          font-weight: bold;
        }
        h5 {
          bottom: 30px;
          margin-left: 10px;
        }
        p {
          bottom: 0px;
          margin-left: 10px;
        }
      }
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 300px;
      border-radius: 10px;
    }
  }
}

@media (max-width: 800px) {
  .team {
    .container {
      display: block;
      .swiper {
        margin-top: 20px;
        height: 400px;
      }
    }
  }
}

// end team

// start comments
.comments {
  margin-bottom: 50px;

  .title {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    @media (max-width: 768px) {
      font-size: 30px;
    }
  }

  .container {
    border: 1px solid $primary-color;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    gap: 20px;
    .img {
      width: 40%;
      min-height: 370px;
      max-height: 370px;
      background-image: url("../images/comments/people\ with\ beautiful\ smiles.jpeg");
      background-size: cover;
      border-radius: 10px;
      animation: change-background 24s linear infinite;
      @keyframes change-background {
        15% {
          background-image: url("../images/comments/people\ with\ beautiful\ smiles.jpeg");
        }
        25% {
          background-image: url("../images/comments/Discover\ and\ download\ free\ images.jpeg");
        }
        45% {
          background-image: url("../images/comments/6\ Major\ Shifts\ In\ Corporate\ Philanthropy\,\ New\ Report\ Finds.jpeg");
        }
        65% {
          background-image: url("../images/comments/Who\ Can\ Become\ a\ Life\ Coach_.jpeg");
        }
        85% {
          background-image: url("../images/comments/HOMEOPATHY\ PLUS.jpeg");
        }
      }
    }
    .swiper {
      width: 60%;
      max-height: 370px;
      margin: 0;
      position: relative;
      .swiper-pagination {
        display: none;
      }
    }

    .swiper-slide {
      background-color: $primary-color;
      border-radius: 10px;
      box-shadow: 20px 20px 80px $primary-color;
      padding: 20px;
      max-height: 370px;
      color: white;
      & > i {
        font-size: 50px;
      }
      .stars {
        margin-top: 20px;
        i {
          color: orange;
        }
      }
      p {
        margin: 20px 0px;
      }
      span {
        color: wheat;
        font-weight: bold;
      }
      .flex {
        display: flex;
        gap: 20px;
        align-items: center;
      }
    }

    .swiper-slide img {
      display: block;
      width: 60px;
      height: 60px;
      border-radius: 50%;
    }
  }
}

@media (max-width: 768px) {
  .comments {
    padding: 0px 10px;
    .container {
      display: block;
      .img {
        width: 100%;
        min-height: 250px;
      }
      .swiper {
        margin-top: 20px;
        width: 100%;
        max-height: 400px;
        .swiper-slide {
          max-height: 400px;
        }
      }
    }
  }
}
// end comments
